body {
  background-color: #403c3c;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  width: 100px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
  background-color: #d3d3d3;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form-group .age-box {
  width: 24px;
  margin-left: 8px;
  text-align: center;
}

.button-tambah  {
  cursor: pointer;
  color: white;
  font-weight: bold;
  
  background-color: #4db8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 43px;
  width: 96px;
  border-radius: 6px;

  position: absolute;
  top: 62%;
  right: 57%;
}


.button-hapus  {
  cursor: pointer;
  color: white;
  font-weight: bold;

  background-color: #4db8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 43px;
  width: 96px;
  border-radius: 6px;
  
  display: ;
  position: absolute;
  top: 62%;
  right: 46.5%;
}


.output-box {
  background-color: #d3d3d3;
  width: 185px;
  height: 185px;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}
